.infrastructure-services {
    padding: 80px 20px;
    background: #f8fafc;
}

/* container */

.services-container {
    max-width: 1200px;
    margin: auto;
}

/* header */

.services-header {
    text-align: center;
    margin-bottom: 60px;
}

.services-header h1 {
    font-size: 40px;
    font-weight: 700;
    color: #0f172a;
    margin-bottom: 10px;
}

.services-header p {
    font-size: 16px;
    color: #64748b;
    max-width: 600px;
    margin: auto;
    line-height: 1.6;
}

/* grid */

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

/* card */

.software-card {
    background: #ffffff;
    border-radius: 18px;
    padding: 82px;

    border-color: #2563eb;

    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
    transition: all .35s ease;

    display: flex;
    flex-direction: column;
}



/* card top */

.card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

/* icon */

.service-icon {
    font-size: 26px;
    color: #2563eb;
    background: #eff6ff;
    border-radius: 12px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* number */

.card-number {
    font-size: 22px;
    font-weight: 600;
    color: #cbd5e1;
}

/* title */

.software-card h3 {
    font-size: 20px;
    font-weight: 600;
    color: #0f172a;
    margin-bottom: 8px;
}

/* tech */

.tech {
    font-size: 13px;
    font-weight: 500;
    color: #2563eb;
    margin-bottom: 12px;
    letter-spacing: .3px;
}

/* description */

.desc {
    font-size: 14px;
    color: #475569;
    line-height: 1.6;
    margin-bottom: 22px;
    flex-grow: 1;
}

/* button */

.card-btn {
    background: #2563eb;
    color: #ffffff;

    border: none;
    padding: 10px 22px;

    border-radius: 25px;
    font-size: 13px;
    font-weight: 500;

    cursor: pointer;
    transition: all .3s ease;

    align-self: flex-end;
}

.card-btn:hover {
    background: #1d4ed8;
    transform: translateY(-2px);
}

/* tablet */

@media(max-width:992px) {

    .services-header h1 {
        font-size: 32px;
    }

}

/* mobile */

@media(max-width:768px) {

    .infrastructure-services {
        padding: 60px 20px;
    }

    .services-header h1 {
        font-size: 26px;
    }

    .services-header p {
        font-size: 14px;
    }

    .software-card {
        padding: 24px;
    }

    .service-icon {
        font-size: 22px;
        padding: 8px;
    }

}